.nav {
  background-color: #741188;
  text-decoration: none;
  list-style: none;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.navigationlink {
  list-style: none;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-family: sans-serif;
  font-weight: bold;
}
.navigationlink :hover {
  list-style: none;
  text-decoration: none;
  color: rgb(182, 182, 182);
  font-size: 1.2rem;
  font-family: sans-serif;
  font-weight: bold;
}
.username {
  font-size: 1.2rem;
  font-family: sans-serif;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}
